<html lang="en">
  <head>
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='adminDashboard.css')}}"
    />
  </head>
  <body>
    <header>
      <h1>Welcome Admin</h1>
      <p>Bank Management System Dashboard</p>
    </header>
    <nav>
      <h2>Navigation bar</h2>
      <a href="{{url_for('createCustomerFun')}}"
        ><button>Create Customer</button></a
      >
      <a href="{{url_for('makeTransaction')}}"
        ><button>Make Transaction</button></a
      >
      <a href="{{url_for('home')}}"
        ><button>Logout</butto></button></a
      >
    </nav>
    
    <main>
      <table border="2">
        <tr>
          <th>SNO</th>
          <th>Customer Name</th>
          <th>Customer Mobile</th>
          <th>Customer Email</th>
          <th>Customer AccNo</th>
          <th>Customer Balance</th>
          <th colspan="2">Actions</th>
        </tr>
        {% for customer in data %}
        <tr>

          <td>{{loop.index}}</td>
          <td>{{customer["cname"]}}</td>
          <td>{{customer["cmobile"]}}</td>
          <td>{{customer["cemail"]}}</td>
          <td>{{customer["accno"]}}</td>
          <td>₹{{ "{:,.2f}".format(customer["balance"]) }}</td>

          <td>
            <form action="/deleteCustomer/{{customer["accno"]}}" method="GETT">
              <button type="submit" class="delete-btn">Delete</button>
            </form>
          </td>
          <td>
            <form action="/editCustomer/{{customer["accno"]}}" method="POST">
              <button type="submit" class="edit-btn">Edit</button>
            </form>
          </td>
        </tr>
        {%endfor%}
      </table>
    </main>
    <footer>
    <p>© 2026 Bank Management System | Developed by Tirupatamma Patnala</p>
    </footer>
  </body>
</html>